.box {
  display: flex;
  flex-wrap: wrap;
  background-color:#f1f2f3;
  height: 100%;
  justify-content: center;
  gap: 1rem;
  .total {
    order: 0;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .container {
    padding:0 1rem;
    flex-grow: 21;
    font-family: "Work Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  
   
  }
  
}
