$bg: #332f35;
$fg: lighten($bg, 20%);
$borderWidth: 3px;
$font: 2rem;
$fontMini: 1rem;


$breakpoint: 950px;
@media (min-width: $breakpoint) {
  .container{
    padding: 0;
    .cart {
      width: 80%;
    }
  }
 
}


$breakpoint-tablet: 450px;
@media (min-width: $breakpoint-tablet) {
 
  .boxOne {
    font-size: 2rem;
    padding: 0.2rem;
  }
  .content {
    margin-left: 1rem;
  }
}

.container {
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  flex-wrap: wrap;
  
  .cart {
    display: flex;
    flex-wrap: wrap;
    max-width:80%;
    .image {
      flex: 2 1 200px;
      aspect-ratio: 1/1;
      display: flex;
      align-items: flex-start;
      justify-content: right;
      justify-content: left;

    }
    .content {
      
      flex: 4 1 100px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
     
      .boxOne {
        text-align: left;
        border-bottom: 1px solid rgb(197, 197, 197);
        width: 100%;
        padding: 1rem 0;

        h2,
        label {
          font-size: 1.3rem;
        }

        .name {
          font-size: inherit;
        }
        .offPrice {
          font-size: inherit;

          display: inline-block;
        }
        .offPriceTwo {
          margin-top: 1rem;
          font-size: inherit;

          display: inline-block;
        }
        .price {
          font-size: 1.5rem;
          margin: 1rem 0;
          text-decoration: line-through;
          color: gray;
        }
        .discount {
          font-size: 1.5rem;
          margin-left: 1rem;
          display: inline;
          color: rgb(45, 189, 117);
        }
        .size {
          font-size: 1.3rem;
          margin: 1rem 0;
        }
        .boxTwo {
          li {
            font-size: 18px;
            margin: 1rem;
          }
        }
      }
      .boxBtn {
        display: flex;
        min-width: 300px;
        height: 60px;
        justify-content: left;
        margin-top: 1rem;
        .link {
          width: 40%;
          margin: 0.3rem;
          .btn {
            width: 90%;
            height: 100%;
            border-radius: 0.3rem;

            border: 2px solid #6553f0;
            background-color: #6553f0;
            color: #fff;
            font-size: 16px;
          }
        }

        .btnInCart {
          width: 50%;
          margin: 0.3rem;
          border-radius: 0.3rem;
          border: 2px solid #6553f0;
          background-color: #ffffff;
          font-size: 16px;
        }
      }
    }
  }
}

.radio {
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  color: rgb(165, 165, 165);
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 10px;
  color: #adadad;
  border-radius: 0.2rem;
  border: 2px solid #6553f000;
  padding: 5px 10px;
}

.radio:checked + label {
  color: #6553f0;
  border-radius: 0.2rem;
  border: 2px solid #6553f0;
  padding: 5px 10px;
}
