@media screen and(max-width: 460px) {
    .details {
    
      height: 200px;
      flex-direction: column;
      justify-content: left;

      padding: 0.5rem;
      .images {

        .img_product {
          width: 110px;
        

        }
      }
      .price {
        color: rgb(61, 61, 61);
        margin: 0 0.3rem 0rem 0rem;
        font-size: 12px;
      }
      .titles {
        font-size: 10px;
       .name{
         display: none;
       }
       h3{
       }

        
      }
    }
  }
  @media screen and(max-width: 570px) {
    .details {
      align-items: flex-start;

      height: 200px;
      justify-content: center;
      .images {

        .img_product {
          width: 110px;
        

        }
      }
      .titles {
       display: inline-block;
        font-size: 16px;
     

        
      }
    }
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
  
    border-bottom: solid 2px rgb(197, 197, 197);
    .details {
      display: flex;
      .images {
        display: flex;
        align-items: center;
        justify-content: center;

        .img_product {
          max-width: 140px;
          height: auto;
          position: relative;
          z-index: 2;
          border: 1px solid black;
          background-size: contain;
          border-radius: 0.3rem;

        }
      }
      .titles {
        align-self: center;
        margin: 0 1rem 0rem 1rem;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        .name{
          color: rgb(34, 34, 34);

        }
        .discountBox{
          display: flex;
          align-items: center;
          .priceTwo {
            color: rgb(150, 148, 148);
            text-decoration: line-through;
          }
          .discount{
            color: green;
            margin-left: 1rem;
  
          }
        }
       

      }
    }
  
    .price {
      color: rgb(61, 61, 61);
      margin: 0 1rem 0rem 0rem;
      font-size: 14px;
    }
    .buttons {
      display: flex;
      align-items: center;
     
      color: rgb(51, 51, 51);
  
      .quantity {
      
        font-size: 19px;
      }
  
      .add {
        border: none;
        transition: all 0.1s;
        color: rgb(23, 173, 73);

        &:active {
          color: rgb(28, 138, 28);
          transition: all 0.2s;
          font-size: large;
        }
      }
      .minus {
        border: none;
        transition: all 0.1s;
        color: rgb(218, 69, 69);

        &:active {
          color: rgb(218, 69, 69);
          transition: all 0.2s;
          font-size: large;
        }
      }
      .deleted {
        border: none;
        transition: all 0.1s;
        font-size: 25px;
        color: rgb(218, 69, 69);

        &:active {
          color: rgb(223, 21, 21);
          transition: all 0.2s;
          font-size: medium;
        }
      }
      .quantityCounter {
        padding: 0.2rem;
        background-color: rgb(250, 250, 250);
        height: 80px;
        width: 45px;
        margin: 0.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
          rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
          rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        border-radius: 0.2rem;
      }
      .deleteProduct {
        padding: 0.2rem;
        background-color: rgb(250, 250, 250);
        height: 80px;
        width: 45px;
        margin: 0.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
          rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
          rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        border-radius: 0.2rem;
        animation-name: example;
      }
    }
  }
  
