$primary: #1181ad;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

.continuer {
  background-color: rgb(31, 31, 31);
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  justify-content: space-evenly;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 0.3rem;
  .box {
    height: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    .paymentTitle {
      font-size: 25px;
      color: rgb(243, 243, 243);
      
    }
   
  }
}
