.navBox {
  ul {
    list-style-type: none;
    display: flex;
    text-decoration: none;
    li {
      margin-left: 1rem;
      a{ 
        padding: 0.3rem;

          &:active,&:hover{
            color: rgb(84, 46, 252);
            background-color: aliceblue;
            padding: 0.3rem;
            border-radius: 0.5rem;
          }
          
        
      }
    }
  }
}


.active{
    color: rgb(84, 46, 252);
    background-color: aliceblue;
            padding: 0.3rem;
            border-radius: 0.5rem;
    
}