.headerBox {
    background-color: rgb(241, 242, 243);
    border-bottom: 10px solid #ffffff;
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
    padding: 0 3rem;
    .image{
        display: flex;
        img {
          max-width: 100px;
        }
    }
}